* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffdfa;
  background-image: url(./img/krystal-ng-O07o2Cd_vX0-unsplash.jpg);
}

.container {
  width: 90%;
  margin: auto;

}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.card:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.zip {
  width: 50%;
  height: 25px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: transparent;
}

.feelings {
  border: 1px solid white;
  color: white;
  height: 90px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 10px;
}

.generate {
  width: 30%;
  padding: 10;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background-color: black;
  margin-bottom: 10px;
}

.output {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: transparent;
  padding: 10px;
  margin-top: 20px;
  color: white;

  border-radius: 5px;
  border: 1px solid white;
}

.temp {
  padding-bottom: 10px;
  padding-top: 5px;
}

.date {
  padding-bottom: 10px;
  padding-top: 5px;
}

.user_input {
  padding-bottom: 10px;
  padding-top: 5px;
}

.header {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    height: 100px;
    padding-top: 20px;
    color: white;
}
.h1 {
  width: 50%;
  margin: auto;
  text-align: center;
}

/* ------------------------------tablet ----------------------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    width: 90%;
    margin: auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
  }

  .card:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: transparent;
  }

  .zip {
    color: white;
    width: 50%;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .feelings {
    color: white;
    border: 1px solid white;
    height: 90px;
    padding: 10px;
    border-radius: 5px;
  }

  .generate {
    width: 30%;
    padding: 10;
    margin: auto;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background-color: black;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .output {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;

    border-radius: 5px;
    border: 1px solid white;
  }

  .temp {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .date {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .user_input {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .header {
    border-bottom:1px solid white;
    margin-bottom: 20px;
    height: 100px;
    padding-top: 20px;
    color: white;
  }
  .h1 {
    width: 50%;
    margin: auto;
    text-align: center;
  }
}

/* ------------------------Desktop view ------------------------*/

@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    width: 90%;
    margin: auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    border-radius: 5px;
    width: 50%;
    margin: auto;
  }

  .card:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .zip {

    color: white;
    width: 200px;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }

  .feelings {
    color: white;
    border: 1px solid white;
    height: 90px;
    padding: 10px;
    border-radius: 5px;
  
  }

  .generate {
    width: 150px;
    padding: 10;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background-color: black;
    /*
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 

  }

  .generate:hover
  {
    width: 150px;
    padding: 10;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background-color: black;
    box-shadow: none;

  }

  .output {
    width: 60%;
    margin: auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    background-color:rgba(0, 0, 0, 0.9) ;
    padding: 10px;
    margin-top: 20px;

    border-radius: 5px;
    border: 1px solid white;
  }

  .temp {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .date {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .user_input {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .header {
    background-color: transparent;
    height: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: white;
  }
  .h1 {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .icon_des 
  {
    display: flex;

  }
}
